@keyframes up{
    from{
        opacity: 0;
        transform: translateY(16px);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-up{
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}
#logo{
    animation-delay: 50ms;
}
.location{
    animation-delay: 100ms;
}
main h1{
    animation-delay: 150ms;
}
.visit p{
    animation-delay: 200ms;
}
.visit a{
    animation-delay: 250ms;
}