#page-create-orphanage{
    display: flex;
    width: 100%;
}
main{
    flex: 1;
}
fieldset .map-container{
    margin: 0 0 4rem;
}
.map-container .leaflet-container{
    border-radius: 20px 20px 0 0;
}
.map-container footer{
    background-color: #f5f8fa;
    border-radius: 0 0 20px 20px;
}

